body{
    font-family: 'Spartan', sans-serif;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.main-box{
    width: 40%;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5%;
    display: flex;
}

img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    /* vertical-align: middle; */
}

.main-box h1{
    font-weight: 500;
    font-size: max(3vh, 2vw);
}

.box{
    width: 50%;
}

.label, .value{
    font-size: max(1.9vh, 1vw);
}

.label{
    font-weight: 500;
}

#edit-pfl{
    font-family: 'Spartan', sans-serif;
    margin-top: 1%;
    font-size: max(1.8vh, 1vw);
    cursor: pointer;
    padding: 3% 8%;
    border: none;
    width: 70%;
    border-radius: 20px;
    background-color: rgba(43, 158, 43, 0.781);
    color: white;
}

#edit-pfl:hover{
    background-color:rgba(43, 158, 43, 0.616);
}

#edit-pfl:focus{
    outline: none;
}

/* **********************Edit Profile Box ******************************** */

#new-profile{
    display: none;
    background-color:white;
    border-radius: 20px;
    width: 30%;
    padding: 2%;
    margin: 0;  
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#new-profile input{
    font-family: 'Spartan', sans-serif;
    width: 90%;
    font-size: max(1.5vh, 1.2vw);
    border: none;
    margin: 5% 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#new-profile input:focus{
    outline: none;
}

#new-profile input:active{
    outline: none;
    border: none;
}

#new-profile button{
    font-family: 'Spartan', sans-serif;
    font-size: max(1.6vh, 1.1vw);
    font-weight: 500;
    margin-top: 10%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#upd-btn{
    background-color: rgba(43, 158, 43, 0.781);
}

#upd-btn:hover{
    background-color:rgba(43, 158, 43, 0.616);
}

#cancel-btn{
    background-color: rgb(233, 92, 92);
}

#cancel-btn:hover{
    background-color: rgba(233, 92, 92, 0.685);
}


/* **********************************Media Query Breakpoints ************************************  */

@media(max-width: 1200px){
    
    .main-box{
        width: 60%;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .box{
        width: 100%;
    }

    img{
        height: 70%;
        width: 70%;
        display: block;
        margin: auto;
    }

    .info-box{
        text-align: center;
        margin-top: 10%;
    }

    /* ********Edit Profile Box********  */

    #new-profile{
        width:60%;
        padding: 10%;
    }

    #new-profile input{
        font-size: max(2vh, 1.3vw);
    }
}

@media(max-width: 767px){
    .main-box{
        width:70%;
        padding: 15% 5%;
    }

    /* ********Edit Profile Box********  */

    #new-profile input{
        font-size: max(1.5vh, 1.3vw);
    }
}