body{
    width: 100%;
    font-family: 'Spartan', sans-serif;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper{
    overflow-x: hidden;
}

/* ----------------------------------Header --------------------------- */

.header{
    padding: 5% 7%;
    display: flex;
}

.header h3{
    color: white;
    font-weight: 300;
    font-size: max(2vw, 2.5vh);
}

.dropdown{
    position: absolute;
    right: 7%;
}

.dropdown-toggle{
    color: white;  
    font-size: max(1.5vw, 2vh);
}

.dropdown-toggle:hover{
    color: white;
}

.dropdown-toggle:focus{
    box-shadow: none;
}

.dropdown-menu{
    padding: 40%;
    border-radius: 20px;
}

.dropdown-item{
    font-weight: 500;
    text-align: right;
}

.dropdown-item:hover{
    background-color:white;
    color: #00000041;
}

#delete-usr{
    color: rgb(224, 77, 77);
}

#delete-usr:hover{
    color: rgba(224, 77, 77, 0.335);
}

/* -------------------Left and Right Box Container ----------------------- */

.row{
    padding:0 7%;
}

/* ----------------------------------Left Box -------------------------- */

.left-box h1{
    color: white;
    font-size: max(2.5vw, 3vh);
}

.left-box h3{
    color: white;
    font-weight: 300;
    font-size: max(1.5vw, 2vh);
}

.left-box img{
    width:40%;
    position: absolute;
    bottom: 0;
    float: left;
}

/* ------------------------------------Right Box ------------------------------------- */

#create-task{
    margin: 0 0 2%;
    font-size: max(2.5vw, 2.7vh);
    color: white;
    position: relative;
    text-align: right;
}

#plus-icon{
    cursor: pointer;
}

/* ----------- For Task List ---------------- */

.task{
    margin: 0 0 4% auto;
    width: 80%;
    background-color:white;
    border-radius: 10px;
    padding: 4% 5%;
    line-height: max(1vw, 1.5vh);
}

.task-comp{
    text-decoration: line-through;
    opacity: 0.5;
}

.task-desc-span{
    cursor: pointer;
    font-size: max(1vw, 1.5vh);
}

.del-btn{
    float: right;
    color: rgb(238, 118, 118);
    font-size: max(1vw, 1.5vh);
    cursor: pointer;
}

.update-btn{
    float: right;
    position: relative;
    right: 12%;
    font-size: max(1vw, 1.5vh);
    cursor: pointer;
}

/*----------------- For New Task and Update Task Box ------------------ */

.task-modify{
    display: none;
    background-color:white;
    border-radius: 20px;
    width: 30%;
    padding: 2%;
    margin: 0;  
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.task-modify input{
    width: 90%;
    font-size: max(1.5vh, 1vw);
    border: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.task-modify input:focus{
    outline: none;
}

.task-modify input:active{
    outline: none;
    border: none;
}

.task-modify button{
    margin-top: 10%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: max(1.5vh, 1vw);
}

.ok-btn{
    margin-right: 20px;
    background-color: #45B649;
    color: white;
}

.cancel-btn{
    background-color: rgb(243, 96, 96);
    color: white;
}


/*********************************** Media Queries *************************** */

@media(max-width: 1200px){

    /* Header  */

    .header{
        padding: 10% 7%;
    }

    .header h3{
        margin-top: 1%;
    }

    /* Left Box  */

    .left-box img{
        display: none;
    }

    /* Right Box  */

    #create-task{
        text-align: left;
        margin: 5% 0 2%;
    }

    .task{
        margin: 0 0 3% 0;
        width: 100%;
        padding: 4% 5%;
    }

    /* ***************New and Update Task Box ******** */

    .task-modify{
        width: 50%;
        padding: 5% 2%;
    }

}

@media(max-width: 767px){

    /* Header  */

    .header{
        padding: 15% 7%;
    }

    .header h3{
        margin-top: 2%;
    }

    /* Right Box  */

    #create-task{
        margin: 5% 0 5%;
    }

    .task{
        margin: 0 0 5% 0;
        border-radius: 10px;
        padding: 5%;
    }

    /* ***************New and Update Task Box ******** */

    .task-modify{
        width: 80%;
        padding: 5% 2%;
    }

}