body{overflow-x: hidden;
    font-family: 'Spartan', sans-serif;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ----------------------------------Header --------------------------- */

.header{
    padding: 5% 7%;
    display: flex;
}

.header h3{
    color: white;
    font-weight: 300;
}

.dropdown{
    position: absolute;
    right: 7%;
}

.dropdown-toggle{
    color: white;  
    font-size: 1.25rem;
}

.dropdown-toggle:hover{
    color: white;
}

.dropdown-toggle:focus{
    box-shadow: none;
}

.dropdown-menu{
    padding: 40%;
    border-radius: 20px;
}

.dropdown-item{
    font-weight: 500;
    text-align: right;
}

.dropdown-item:hover{
    background-color:white;
    color: #00000041;
}

/* -------------------Left and Right Box Container ----------------------- */

.row{
    padding:0 7%;
}

/* ----------------------------------Left Box -------------------------- */

.left-box h1{
    color: white;
}

.left-box h3{
    color: white;
    font-weight: 300;
}

.left-box img{
    width:40%;
    position: absolute;
    bottom: 0;
    float: left;
}

/* ------------------------------------Right Box ------------------------------------- */

#create-task{
    margin: 0 0 2%;
    font-size: 2.5rem;
    color: white;
    position: relative;
    text-align: right;
}

#plus-icon{
    cursor: pointer;
}

/* ----------- For Task List ---------------- */

.task{
    margin: 0 0 0 auto;
    width: 80%;
    background-color:white;
    border-radius: 20px;
    padding: 3% 5%;
    margin-bottom: 3%;
}

.task-comp{
    text-decoration: line-through;
    opacity: 0.5;
}

.del-btn{
    float: right;
    color: rgb(238, 118, 118);
    font-size: 1.2rem;
    cursor: pointer;
}

.update-btn{
    float: right;
    position: relative;
    right: 12%;
    font-size: 1.2rem;
}

/*----------------- For New Task ------------------ */

#new-task{
    display: none;
    background-color:white;
    border-radius: 20px;
    width: 20%;
    padding: 2%;
    margin: 0;  
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#new-task input{
    width: 90%;
    font-size: 1rem;
    border: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#new-task input:focus{
    outline: none;
}

#new-task input:active{
    outline: none;
    border: none;
}

#new-task button{
    margin-top: 10%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#add-task{
    margin-right: 20px;
    background-color: #45B649;
    color: white;
}

#cancel-task{
    background-color: rgb(243, 96, 96);
    color: white;
}